@charset "utf-8";

/* ===== index.html =====*/

#wrapper {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center, center;
    background-attachment: fixed;
    background-size: cover;
    display: flex; /* 上下左右中央揃えのため */
    justify-content: center; /* 左右中央揃え */
}

#btn {
    margin-top: 250px;
    width: 700px;
    height: 200px;
    color: white;
    text-align: center;
    vertical-align: middle;
    display: flex; /* divの上下左右中央揃えのため */
    justify-content: center; /* 左右中央揃え */
    align-items: center; /* 上下中央揃え */
}

footer {
  text-align: center;
  color: white;
}

#about {
	position: relative;
	display: inline-block;
	transition: .3s;
	cursor: pointer;
  }
#about::before,
#about::after {
	position: absolute;
	content: '';
	width: 0;
	height: 2px;
	background-color:white;
	transition: .3s;
  }
#about::before {
	top: -20px;
	left: 0;
  }
#about::after {
	bottom: -10px;
	right: 0;
  }
#about:hover::before,
#about:hover::after {
	width: 100%;
  }


/* ===== tokyomap.html =====*/
#open_nav {
  position: absolute;
  z-index: 1;
  width: 392px;
  height: 50px;
  left: 0;
  background-color: rgba(1, 1, 1, 0.8);
  display: flex; /* divの上下左右中央揃えのため */
  justify-content: left; /* 左揃え */
  align-items: center; /* 上下中央揃え */
}

#open_nav div {
  padding-left: 20px;
}

#sidebar {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 0px;
    background: rgba(1, 1, 1, 0.8);
    border-radius: 3px;
    width: 350px;
    height: 90vh;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: white;
    font-family: 'Open Sans', sans-serif;
    transition: transform 0.5s;
}

.hide {
  transform: translate3d(-500px, 0, 0);
}


.years {
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.year {
    width: 33.33%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

table {
    width: 100%;
    margin-bottom: 10px;
    font-size: 0.9em;
}

#list {
  font-size: 0.8em;
}

.indicator {
    width: 280px;
}

.dlbtn {
    background-color: grey;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
}

.dlbtn button {
    width: 100%;
    height: 100%;
}

#copyright {
  margin-top: 20px;
  text-align: center;
}


/* tokyo23wards show and hide css */
#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 10px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}

#menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #3887be;
  color: #ffffff;
}

#menu a.active:hover {
  background: #3074a4;
}
